accelerate
blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
fsspec
gunicorn
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja
MarkupSafe
mpmath
networkx
numpy
packaging
Pillow
psutil
PyYAML
regex
requests
safetensors
sentencepiece
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib
Werkzeug
zipp
